body {
  margin: 0;
}

.background-img {
  width: 100%;
}

.container {
  height: 80vh;
  background-color: #1e90ff;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
}

.intro {
  display: flex;
  justify-content: center;
}

.stylish-intro {
  font-size: 60pt;
  color: #031f8b;
  font-weight: bold;
  font-family: "Tangerine", serif;
}

.normal-intro {
  font-size: 30pt;
  color: #031f8b;
  font-family: "Trirong", serif;
}
