p {
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-family: "Open Sans", sans-serif;
}

.font-robo-slab {
  font-family: "Roboto Slab", serif;
}

.font-size-20 {
  font-size: 20px;
}

.top-container {
  height: 40vh;
  background-color: #1e90ff;
}

.bottom-container {
  padding: 50px;
  text-align: center;
}

.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.stylish-intro {
  font-size: 60pt;
  color: #031f8b;
  font-weight: bold;
  font-family: "Tangerine", serif;
}

.normal-intro {
  font-size: 30pt;
  color: #031f8b;
  font-family: "Trirong", serif;
}

.text-align-left {
  text-align: left;
}

.line-height-2 {
  line-height: 2;
}

.icon {
  width: 100px;
  height: 100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 5px;
  margin: 5px;
  text-align: center;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
